body{
  transition: all ease 300ms;
  .navbar{
    width: 100px;
    height: 100%;
  }
  .nav-btn{
    padding: 0 !important;
    &.active{
      background-color: #e67e22!important;
    }
  }

   div.fixed-action-btn{
     left: 50px;
     width: 250px;
     z-index: 99999;
     ul{
       left: 50px!important;
       height: 50px;
       top: 25px;
       li{
         margin: 0!important;
       }
     }

   }

  .site-footer{
    position: fixed;
    left: 100px;
    height: 180px;
    width: 100%;
    bottom: 0;
    background: #222222;
  }

  .engraved{ // http://css-snippets.com/engraved-text/
    ul{
      li{
        a{
          font-family:"Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif;
          font-size: 1.6em;
          cursor: pointer;
          color: rgb(55, 63, 75);
          font-weight: bolder;
          //background-color: #666;
          text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
          &:hover{
            //font-size: 1.7em;
            color: whitesmoke;
            text-shadow: 0px 0px 0px rgba(255,255,255,.5); /* 50% white from bottom */
            -webkit-transition: all ease 400ms;
            -moz-transition: all ease  400ms;
            -ms-transition: all ease  400ms;
            -o-transition: all ease  400ms;
            transition: all ease  400ms;
          }
        }
        label{
          font-family:"Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif;
          font-size: 1.4em;
          cursor: pointer;
          color: grey;
          font-weight: bold;
          //background-color: #666;
          text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
          &:hover{
            font-size: 1.5em;
            color: whitesmoke;
            text-shadow: 0px 0px 0px rgba(255,255,255,.5); /* 50% white from bottom */
            -webkit-transition: all ease 400ms;
            -moz-transition: all ease  400ms;
            -ms-transition: all ease  400ms;
            -o-transition: all ease  400ms;
            transition: all ease  400ms;
          }
        }
      }
    }
  }

  .footerHoverLink {
    cursor: pointer;
    color: grey;
    font-weight: bold;
    //background-color: #666;

    &:hover {
      color: whitesmoke;
      -webkit-transition: all ease 400ms;
      -moz-transition: all ease 400ms;
      -ms-transition: all ease 400ms;
      -o-transition: all ease 400ms;
      transition: all ease 400ms;
    }
  }

}