body {
  transition: all ease 300ms;
}
body .navbar {
  width: 100px;
  height: 100%;
}
body .nav-btn {
  padding: 0 !important;
}
body .nav-btn.active {
  background-color: #e67e22!important;
}
body div.fixed-action-btn {
  left: 50px;
  width: 250px;
  z-index: 99999;
}
body div.fixed-action-btn ul {
  left: 50px!important;
  height: 50px;
  top: 25px;
}
body div.fixed-action-btn ul li {
  margin: 0!important;
}
body .site-footer {
  position: fixed;
  left: 100px;
  height: 180px;
  width: 100%;
  bottom: 0;
  background: #222222;
}
body .engraved ul li a {
  font-family: "Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif;
  font-size: 1.6em;
  cursor: pointer;
  color: #373f4b;
  font-weight: bolder;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  /* 50% white from bottom */
}
body .engraved ul li a:hover {
  color: whitesmoke;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
  /* 50% white from bottom */
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease  400ms;
  -ms-transition: all ease  400ms;
  -o-transition: all ease  400ms;
  transition: all ease  400ms;
}
body .engraved ul li label {
  font-family: "Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif;
  font-size: 1.4em;
  cursor: pointer;
  color: grey;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  /* 50% white from bottom */
}
body .engraved ul li label:hover {
  font-size: 1.5em;
  color: whitesmoke;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
  /* 50% white from bottom */
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease  400ms;
  -ms-transition: all ease  400ms;
  -o-transition: all ease  400ms;
  transition: all ease  400ms;
}
body .footerHoverLink {
  cursor: pointer;
  color: grey;
  font-weight: bold;
}
body .footerHoverLink:hover {
  color: whitesmoke;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
  -o-transition: all ease 400ms;
  transition: all ease 400ms;
}
