<div class="container">
    <div class="page-header">
        <h1 class="h1" style="font-family: 'PT Mono', monospace;">System.print("Hello World!"); </h1>
    </div>
</div>

<div class="container" style="margin-top: 20px" >
    <div class="row">
        <div class="col-md-4" style="text-align: center">
            <a class="btn-floating btn-large blue"
               ui-sref="productiveEngine.productsList({productCategory: 'Desktop'})">
                <i class="fa fa-windows"></i>
            </a>
            <h3>Desktop</h3>
        </div>
        <div class="col-md-4" style="text-align: center">
            <a class="btn-floating btn-large green"
               ui-sref="productiveEngine.productsList({productCategory: 'Mobile'})">
                <i class="fa fa-android"></i>
            </a>
            <h3>Mobile</h3>
        </div>
        <div class="col-md-4" style="text-align: center">
            <a class="btn-floating btn-large red"
               ui-sref="productiveEngine.productsList({productCategory: 'Web'})">
                <i class="material-icons">language</i>
            </a>
            <h3>Web</h3>
        </div>
    </div>
</div>