
<!--Menu always on page-->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" style="padding: 15px;width: 50px;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref-active="active" class="btn-floating btn-large waves-effect waves-light orange nav-btn"  style="top: 140px;"
                       title="Home" ui-sref="productiveEngine.homeMain"><i class="fa fa-home"></i></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 10px;">
    <img style="width:100%;min-height: 60px;" src="img/productiveLogo.png">
</div>

<a target="_blank" href="https://github.com/ProductiveEngine">
    <img style="position: absolute; top: 0; right: 0px; border: 0;width:40%"
         src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
         alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

<div class="fixed-action-btn horizontal" style="top: 240px;left: 10px;">
    <a class="btn-floating btn-large blue"
       ui-sref="productiveEngine.productsList({productCategory: 'Desktop'})">
        <i class="fa fa-windows"></i>
    </a>
    <ul style="width: 80px;">
        <li>
            <a ui-sref-active="selected" class="btn-floating  btn-large blue" ui-sref-active="active"
               ui-sref="productiveEngine.productDetails({productName:'Knowledge Base'})"
               title="Knowledge Base">
                KB
            </a>
        </li>
    </ul>
</div>
<div class="fixed-action-btn horizontal" style="top: 300px;left: 10px;">
    <a class="btn-floating btn-large green"
       ui-sref="productiveEngine.productsList({productCategory: 'Mobile'})">
        <i class="fa fa-android"></i>
    </a>
    <ul style="width: 140px;">
        <li><a ui-sref-active="selected" class="btn-floating  btn-large  green" ui-sref-active="active"
               ui-sref="productiveEngine.productDetails({productName:'Music You Love'})"
                title="Music You Love">
                MYL
            </a>
        </li>
        <li><a ui-sref-active="selected" class="btn-floating  btn-large  green" ui-sref-active="active"
               ui-sref="productiveEngine.productDetails({productName:'Super Compare'})"
               title="Super Compare">
                SC
            </a>
        </li>
    </ul>
</div>
<div class="fixed-action-btn horizontal" style="top: 360px;left: 10px;">
    <a class="btn-floating btn-large red"
       ui-sref="productiveEngine.productsList({productCategory: 'Web'})">
        <i class="material-icons">language</i>
    </a>
    <ul style="width: 140px;">
        <li><a ui-sref-active="selected" class="btn-floating  btn-large red" ui-sref-active="active"
               ui-sref="productiveEngine.productDetails({productName:'MiniEShop'})"
               title="MiniEShop">
            e
            </a>
        </li>
        <li><a ui-sref-active="selected" class="btn-floating  btn-large red" ui-sref-active="active"
               ui-sref="productiveEngine.productDetails({productName:'MiniEShop2'})"
               title="MiniEShop2">
            e2
            </a>
        </li>
    </ul>
</div>

<div class="container" style="margin-bottom: 180px;">
    <div ui-view="homeMain"></div>
    <div ui-view="about"></div>
    <div ui-view="products"></div>
    <div ui-view="productDetails"></div>
    <div ui-view="productsList"></div>
    <div ui-view="contact"></div>
    <div ui-view="terms"></div>
    <div ui-view="privacy"></div>
</div>


<footer class="site-footer" style="left: 30px;height: 310px;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Productive Engine</h5>
                <p class="grey-text text-lighten-4">
                    Keep our code free and open by purchasing one of our Android&#8482; applications on Google Play.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Our Company</h5>
                <ul>
                    <li class="grey-text text-lighten-3">
                        <label class="footerHoverLink" ui-sref="productiveEngine.terms">Terms of use</label>
                    </li>
                    <li class="grey-text text-lighten-3">
                        <label class="footerHoverLink" ui-sref="productiveEngine.privacy">Privacy policy</label>
                    </li>
                    <li class="grey-text text-lighten-3" >
                        <label class="footerHoverLink" ui-sref="productiveEngine.about">About</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container grey-text text-lighten-3">
            Copyright &copy 2016 Productive Engine, All rights reserved.
        </div>
    </div>
</footer>