<div class="container">
    <div class="page-header">
        <h1 class="h1 col-sm-2 col-xs-2" style="font-family: 'PT Mono', monospace;font-size: 1.2em;">System.print("Hello World!"); </h1>
    </div>
</div>

<div class="container" style="margin-top: 20px" >
    <div class="row">
    <div class="col col-sm-6 col-xs-4" style="text-align: center">
        <a class="btn-floating btn-large blue"
           ui-sref="productiveEngine.productsList({productCategory: 'WPF'})">
            <i class="fa fa-windows"></i>
        </a>
        <h6>Desktop</h6>
    </div>
    <div class="col col-sm-6 col-xs-4" style="text-align: center">
        <a class="btn-floating btn-large green"
           ui-sref="productiveEngine.productsList({productCategory: 'Mobile'})">
            <i class="fa fa-android"></i>
        </a>
        <h6>Mobile</h6>
    </div>
    <div class="col col-sm-6 col-xs-4" style="text-align: center">
        <a class="btn-floating btn-large red"
           ui-sref="productiveEngine.productsList({productCategory: 'Web'})">
            <i class="material-icons">language</i>
        </a>
        <h6>Web</h6>
    </div>
    </div>
</div>