<div class="container">
    <div class="page-header">
        <h1 class="h1" style="font-family: 'PT Mono', monospace;">{{selectedProduct.name}}
            <span ng-show="selectedProduct.name == 'Music You Love'" class="right">
                <a href='https://play.google.com/store/apps/details?id=com.productiveengine.myl&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img alt='Get it on Google Play' src='img/google-play-badge.png'/></a>
            </span>
            <span ng-show="selectedProduct.name == 'Super Compare'" class="right">
                <a href='https://play.google.com/store/apps/details?id=com.productiveengine.super_compare&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img alt='Get it on Google Play' src='img/google-play-badge.png'/></a>
            </span>
        </h1>
    </div>
</div>

<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{{selectedProductCategory}}</a></li>
        <li class="breadcrumb-item active">{{selectedProduct.name}}</li>
    </ol>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-target="#description">Description</a></li>
        <li><a data-toggle="tab" data-target="#features">Features</a></li>
        <li><a data-toggle="tab" data-target="#technologies">Technologies</a></li>
        <li><a data-toggle="tab" data-target="#ide">IDE</a></li>
        <li><a data-toggle="tab" data-target="#license">License</a></li>
    </ul>
    <div class="tab-content">
        <div id="description" class="tab-pane fade in active">
            <p>
                <div ng-bind-html="selectedProduct.description"></div>
            </p>
            <p>
                <label>GitHub:</label> <a href="{{selectedProduct.url}}">link</a>
            </p>
        </div>
        <div id="features" class="tab-pane fade">
            <p>
                <div ng-bind-html="selectedProduct.features"></div>
            </p>
        </div>
        <div id="technologies" class="tab-pane fade">
            <p>
                <div ng-bind-html="selectedProduct.technologies"></div>
            </p>
        </div>
        <div id="ide" class="tab-pane fade">
            <p>
                <div ng-bind-html="selectedProduct.ides"></div>
            </p>
        </div>
        <div id="license" class="tab-pane fade">
            <p>
                <div ng-bind-html="selectedProduct.license"></div>
            </p>
        </div>
    </div>
</div>
