<div class="container">
    <div class="page-header">
        <h1 class="h1" style="font-family: 'PT Mono', monospace;">{{categoryName}}</h1>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in products">
                <a ui-sref="productiveEngine.productDetails({productName:product.name })">
                    {{product.name}}
                </a>
            </li>
        </ul>
    </div>
</div>

