<div class="container">
    <div class="page-header">
        <h1 class="h1" style="font-family: 'PT Mono', monospace;">Terms and Conditions ("Terms")</h1>
    </div>
</div>

<div class="container">
    <p>Last updated: August 30, 2016</p>
    <p>
    Please read these Terms and Conditions ("Terms", "Terms and Conditions")
    carefully before using the http://www.productiveengine.com/ website (the "Service")
    operated by Productive Engine ("us", "we", or "our").
    Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms.
    These Terms apply to all visitors, users and others who access or use the Service.
    By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then
    you may not access the Service.
    </p>
    <h5>Links To Other Web Sites</h5>
    <p>
    Our Service may contain links to third-party web sites or services that are not owned or controlled by Productive Engine.
    Productive Engine has no control over, and assumes no responsibility for, the content, privacy policies, or practices of
    any third party web sites or services. You further acknowledge and agree that Productive Engine shall not be
    responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection
    with use of or reliance on any such content, goods or services available on or through any such web sites or services.
    We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services
    that you visit.
    </p>
    <h5>Termination</h5>
    <p>We may terminate or suspend access to our Service immediately, without prior notice or liability,
    for any reason whatsoever, including without limitation if you breach the Terms.
    All provisions of the Terms which by their nature should survive termination shall survive termination, including,
    without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
    </p>
    <h5>Governing Law</h5>
    <p>These Terms shall be governed and construed in accordance with the laws of Greece,
    without regard to its conflict of law provisions.
    Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights.
    If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions
    of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service,
    and supersede and replace any prior agreements we might have between us regarding the Service.
    </p>
    <h5>Changes</h5>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material
    we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material
    change will be determined at our sole discretion.

    By continuing to access or use our Service after those revisions become effective,
    you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
    </p>
    <h5>Availability of the website and modifications</h5>
    <p>The Service is provided “as is” and on an “as available” basis.
    We give no warranty that the Service will be free of defects and / or faults.
    To the maximum extent permitted by the law we provide no warranties (express or implied) of fitness for a particular purpose,
    accuracy of information, compatibility and satisfactory quality.

    Productive Engine accepts no liability for any disruption or non-availability of the Website resulting from external
    causes including, but not limited to,
    ISP equipment failure, host equipment failure, communications network failure, power failure, natural events,
    acts of war or legal restrictions and censorship.

    Productive Engine reserves the right to alter, suspend or discontinue any part (or the whole of) the Website including,
    but not limited to, the products and/or services available. These Terms and Conditions shall continue to apply to any modified
    version of the Website unless it is expressly stated otherwise.
    </p>
    <h5>Limitation of liability</h5>
    <p>For direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential,
    special or exemplary damages arising from the use of the Website or any information contained therein,
    to the maximum extent permitted by law, Productive Engine accepts no liability.
    Users should be aware that they use the Website and its Content at their own risk.
    </p>
    <h5>Legal attribution for Google</h5>
    <p>
        Google Play and the Google Play logo are trademarks of Google Inc.

       <p> The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the Creative Commons 3.0 Attribution License.</p>
    </p>
    <h5>Contact Us</h5>
    <p>If you have any questions about these Terms, please contact us.</p>
</div>